{% extends 'base_mail.html.twig' %}
{% block content %}
    <div class="main-content">
        <p>Dobrý den,</p>
        <p>Pro Váš účet <b>{{ accountName }}</b> bylo změněno v administraci heslo na <b>{{ newPassword }}</b>. Přihlásit k vašemu účtu se můžete <a href="{{ url('login') }}" target="_blank">zde</a></p>
    </div>
    <hr>
    <span>Změnu provedl některý z admnistrátorů. Na zprávu neodpovídejte.</span>
{% endblock %}
