{% extends 'base_mail.html.twig' %}
{% block content %}
    <div class="main-content">
        <p>
            {{ message }}
        </p>
    </div>
    <hr>
    <span>Na zprávu neodpovídejte.</span>
{% endblock %}
