{% block mainMenu %}
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="{{ path('admin_homepage') }}" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('users_index') }}" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Uživatelé
                    </p>
                </a>
            </li>
            <li class="nav-header">Profil</li>
            <li class="nav-item">
                <a href="{{ path('profile_update',{'id': app.user.id}) }}" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        Upravit profil
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('users_index') }}" class="nav-link">
                    <i class="nav-icon fas fa-key"></i>
                    <p>
                        Změnit heslo
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
{% endblock %}
